.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
img{
  align-content: center;
  margin:auto;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body{
  background-color: rgb(47, 77, 35);
}
.App-link {
 background-color: rgb(47, 77, 35);
 /* justify-content: space-around; */
 /* flex-wrap: nowrap; */
 
}
.btn-select{
  
 background-color: rgb(121, 228, 128);
 width: 100px;

}
.center-k{
   display: inline;
  /* align-items: center;
   justify-content: center; */
  
  
}
.letras-dados{
  color: aliceblue;
}
.letras-tablero{
  color: rgb(232, 243, 168);
  display: inherit;
  width: 100%;
  overflow: hidden;

}
.titulo-generala{
  display: flex;
  justify-content: center;
  height: auto;
}

h2{text-align: center;}
.centrado{
   /* background-color: blue;  */
   position:relative;
 left: 5%;
  right: 120%;
  bottom:0px; 
   height: 15%; 
  width: 100%;
  display:flex;
}
#right{
float:right;
}
.centradoT{
  background-color: rgb(24, 104, 48); 
   position:relative;
   width: 100%;
 left: 110%;
  right:0%;
  bottom:0px; 
   /* height: 15%;  */
  display:block; 
}
.marg{
  /* margin-top: 100px; */
/*   
  margin: 0px, 10px, 0px, 0px; */
  /* margin-top: 100px; */
  /* margin-bottom: 100px; */
  margin-right: 70px;
  /* margin-left: 80px; */
}
#cajon1{
  /* float:left; */
padding: 5px;
margin: 0 10px;
}
#cajon2{
display: block;

}
.ib{
  display: inline;
}
.containera{
  display:flex;
  
  flex-wrap: no-wrap;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.now{
  display: flex;
  width: 100%;
  justify-content: space-between;
  overflow: inherit;
  margin: auto;
}
.lala{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin-top: 4%;
  
  
  }
.btn_tachado{
  color: rgb(238, 49, 49);
}

  .btn_grd{
    margin-top: 5%;
  /* width: 100px; */
  justify-content: space-between;
  height: 50px;
  background-color: #421c9b;
  color: white;
  }


  .enlaceboton {   
    
    font-size: 20pt;
    font-weight: bold;
    padding: 4px;
    margin-top: 5%;
    height: 50px;
    justify-content: space-between;
    height: 50px;
    background-color: #421c9b;
    color: white;
    text-decoration: none;
 }


  h1{text-align: center;}